<div>
    <h1 class="display-4">Choose registration form</h1>
    <div class="form-inline">
        <form asp-action="FormStudent" method="post" class="d-inline">
            <button type="submit" class="btn btn-primary">Register student</button>
        </form>
        <form asp-action="FormApplication" method="post" class="d-inline">
            <button type="submit" class="btn btn-primary">Register highschool application</button>
        </form>
    </div>
</div>
